@import "./reset.scss";
@import "./variables/global.scss";
@import "./themes/light.scss";
@import "./themes/dark.scss";

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--main-color);
    font: var(--font-m);
}