.AppLink {
    font: var(--font-m);
    text-decoration: none;
    transition: all 0.1s ease;
}

.main {
    color: var(--main-color);

    &:hover {
        color: var(--hover-main-color);
    }
}

.secondary {
    color: var(--secondary-color);

    &:hover {
        color: var(--hover-secondary-color);
    }
}

.inverted-main {
    color: var(--inverted-main-color);

    &:hover {
        color: var(--hover-inverted-main-color);
    }
}