.PageError {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 100vh;
    background-color: #ccc;
}

.textInfo {
    text-align: center;
    font: 30px/42px Arial;
}

.btnReload {
    &:hover {
        background-color: #3f3f3f;
        color: #dbdbdb;
        transition: all .1s ease;
    }
}