.app.dark {
    // color
    --main-color: #cfcfd3;
    --secondary-color: #cbcaca;

    // hover-color
    --hover-main-color: #f4f4f4;
    --hover-secondary-color: #a99595;

    // inverted-color
    --inverted-main-color: #000;
    --inverted-secondary-color: #808080;

    // hover-inverted-color
    --hover-inverted-main-color: #696969;
    --hover-inverted-secondary-color: #494949;

    // background
    --bg-main-color: #6f6f6f;
    --bg-secondary-color: #585858;
    --bg-third-color: #646464;
}
