.app_light_theme {
    // color
    --main-color: #1f1f20;
    --secondary-color: #808080;

    // hover-color
    --hover-main-color: #3b3b3b;
    --hover-secondary-color: #494949;

    // active-color
    --active-main-color: #363636;
    --active-secondary-color: #494949;

    // inverted-color
    --inverted-main-color: #fff;
    --inverted-secondary-color: #c9c8c8;

    // hover-inverted-color
    --hover-inverted-main-color: #c6b5b5;
    --hover-inverted-secondary-color: #a99595;

    // background
    --bg-main-color: #d4d4d4;
    --bg-secondary-color: #aaaaab;
    --bg-third-color: #bcbcbc;

    // button-hover
    --button-hover-bg-color: #000;
    --button-hover-color: #fff;
}
