.Button {
    width: fit-content;
    cursor: pointer;
    outline: none;
}

.clean {
    border: 0;
    background-color: transparent;
    font: var(--font-n);
    color: var(--main-color);
}

.outline {
    color: var(--main-color);
    border: 1px solid var(--main-color);
    padding: 7px 12px;
    border-radius: 12px;
    font: var(--font-n);
    background-color: transparent;

    &:hover {
        background-color: var(--button-hover-bg-color);
        color: var(--button-hover-color);
    }
}
