.Navbar {
    height: var(--navbar-height);
    background-color: var(--bg-secondary-color);
    transition: all 0.1s ease;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
    padding-inline: 25px;

    ul {
        height: 100%;
        padding-inline: 20px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 20px;
    }
}

.switchers {
    display: flex;
    align-items: center;
    gap: 24px;
    flex-shrink: 0;
    width: 220px;
}